<div class="content">
	<div class="rightBlockText">
		<h1>Контакты</h1>
		<p>Телефон:<b style="font-size: 17px;">+7 (985) 401-47-14</b></p>
		<p>Email: <b>systemmxmedias@gmail.com</b></p>
		<p>Адрес: <b>г. Москва,Фестивальная 33, офис 223</b></p>
	</div>
</div>