<div class="content">

	<h2>Почему стоит обратиться в нашу мастерскую по ремонту компьютеров в Москве и Московской области?</h2>
	<p>Всё довольно просто! Мы не будем вас обманывать для того чтобы больше взять с вас денег! 
	<p>Перед каждым действием мы предупредим вас и огласим цену.</p> 
	<b>Наши цены самые низкие в Москве и Московской области</b>, а всё по тому что дешовый и качественный сервис это редкость в наше время и как правило повышается спрос!</p>
	<p>
		Преимущества:
		<ul>
			<li>грамотные и квалифицированные мастера с большим опытом, легко справляющиеся с самыми сложными задачами;</li>
			<li>оперативность;</li>
			<li>гарантия высокого качества предоставляемых услуг;</li>
			<li>индивидуальный подход.</li>
		</ul>
	</p>
	<h2>Вызов компьютерного мастера на дом: быстро, профессионально, недорого</h2>
	<div>
		<img src="images/mainimg.jpg" alt="image" style="float: right;height: 150px;width: 190px;" />
		<p>Если у вас нет времени на решение проблем, вызванных неполадками в работе компьютера, обратитесь в нашу сервис и вызовите компьютерного мастера на дом в Москве. Позвоните нам, если вам необходимо:
		</p>
		<ul>
			<li>настроить или отремонтировать ноутбук или ПК;</li>
			<li>восстановить данные или оптимизировать работу Windows;</li>
			<li>организовать домашнюю локальную сеть, подключить интернет;</li>
			<li>установить какие-либо программы.</li>
		</ul>
		<p>
			Это сервис частных мастеров и цены на ремонт установленны мастерами! 
		</p>
	</div>
	<h2>Работы, выполняемые нашими мастерами по ремонту компьютеров</h2>
	<p>Специалисты нашей мастерской по ремонту компьютеров выполняют следующие виды работ:
		<ul>
			<li>диагностика неисправностей, чистка от пыли и грязи, удаление вирусов;</li>
			<li>увеличение оперативной памяти, модернизация компьютеров;</li>
			<li>сборка компьютеров;</li>
			<li>ремонт и замена системы охлаждения, блока питания, электронных элементов, ремонт корпусных деталей;</li>
			<li>перепайка чипов, ремонт после залива и многое другое.</li>
		</ul>
	</p>
	Длительность ремонта зависит как от его сложности, так и от наличия необходимых комплектующих, но в большинстве случаев наши мастера устраняют неисправность в день подачи заявки.
</div>