<div class="content">
	<div class="rightBlockText">
		<h1>О нас</h1>
		<p>Добро пожаловать на сайт профессионального компьютерного сервиса!</p>
		<p>Наш сервис центр профессионально занимается оказанием компьютерной помощи и ремонтом компьютеров. Если у вас возникли сложности с компьютером и сопутствующим оборудованием, мы рады быть Вам полезными. Наш мастер сможет приехать к Вам на дом или в офис для устранения неисправности уже в течении 1 часа.</p>
		<p>Мы работаем оперативно, качественно и недорого.</p>
		<p>В первую очередь Компьютер Сервис – это компьютерная помощь недорого и качественно. Мы обслуживаем как физические лица, так и организации. Большой спектр предоставляемых услуг (в их числе и ремонт компьютеров) и высокая квалификация инженеров стали визитной карточкой нашего сервиса. Среднее время реагирования на заявку составляет 1 час.</p>
		<p>Мы относимся к своей работе с самоотдачей, страстью и любовью. И считаем, что только такие люди достойны называться профессионалами. Доверяйте свою технику профессионалам!</p>
		<p>Наш основной офис расположен недалеко от центра города, что позволяет нашим мастерам прибыть в любой район максимально быстро.</p>
	</div>
</div>