<div class="content">
	<h1>О нас</h1>
	<p>Добро пожаловать на сайт частного компьютерного сервиса!</p>
	<p>Наш сервис центр профессионально занимается оказанием компьютерной помощи и ремонтом компьютеров. Если у вас возникли сложности с компьютером и сопутствующим оборудованием, мы рады быть Вам полезными. Наш мастер сможет приехать к Вам на дом или в офис для устранения неисправности уже в течении 1 часа.
	</p>
	<p>Мы работаем оперативно, качественно и недорого.</p>

	<h2>Почему стоит обратиться в нашу мастерскую по ремонту компьютеров в Москве?</h2>
	<p>Всё довольно просто! Мы не будем вас обманывать для того чтобы больше взять с вас денег! 
		<p>Перед каждым действием мы предупредим вас и огласим цену.</p> 
		<b>Наши цены самые низкие в Москве и Московской области</b>, а всё по тому что дешовый и качественный сервис это редкость в наше время и как правило повышается спрос!
	</p>
	<p>
		Преимущества:
		<ul>
			<li>грамотные и квалифицированные мастера с большим опытом, легко справляющиеся с самыми сложными задачами;</li>
			<li>оперативность;</li>
			<li>гарантия высокого качества предоставляемых услуг;</li>
			<li>индивидуальный подход.</li>
		</ul>
	</p>
</div>