<div class="content">
	<div class="rightBlockText">
		<center><h1>Прейскурант</h1></center>
		<table border="1" cellspacing="0" cellpadding="0" width="100%">
			<tbody><tr>
				<td>Услуга по ремонту компьютеров</td>
				<td align="center" width="30%"><strong>Цена (руб.)</strong></td>
			</tr>
			<tr>
				<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Выезд специалиста</span></span></th>
			</tr>
			<tr>
				<td>Выезд и диагностика мастера&nbsp;</td>
				<td align="center">бесплатно</td>
			</tr>

			<tr>
				<td>Выезд мастера за пределы МКАД &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td align="center">в пределах 20 км бесплатно</td>
			</tr>
			<tr>
				<th colspan="2">
					<span style="color: #29aae0;">
						<span style="color: #29aae0;">Установка Windows и MAC OS</span>
					</span>
				</th>
			</tr>
			<tr>
				<td>Услуга по ремонту компьютеров</td>
				<td align="center">Цена (руб.)</td>
			</tr>
			<tr>
				<td>Установка Windows XP</td>
				<td align="center">250*</td>
			</tr>
			<tr>
				<td>Установка WindowsVista</td>
				<td align="center">250*</td>
			</tr>
			<tr>
				<td>Установка Windows 7.8.10</td>
				<td align="center">400*</td>
			</tr>

			<tr>
				<td>Установка драйвера</td>
				<td align="center">150</td>
			</tr>
			<tr>
				<td>Установка MS Office</td>
				<td align="center">250</td>
			</tr>
			<tr>
				<td>Установка программ  и утилит</td>
				<td align="center">100 (за 1 ед.)</td>
			</tr>
			<tr>
				<td>Установка и настройка различных программ в зависимости от сложности </td>
				<td align="center">от 200</td>
			</tr>
			<tr>
				<th colspan="2">
					<span style="color: #29aae0;">
						<span style="color: #29aae0;">Настройка Интернета, Wi-Fi роутера и локальной сети</span>
					</span>
				</th>
			</tr>
			<tr>
				<td> Услуга по ремонту компьютеров</td>
				<td align="center">цена (руб.)</td>
			</tr>
			<tr>
				<td> Настройка роутера</td>
				<td align="center">600</td>
			</tr>
			<tr>
				<td> Настройка Интернета</td>
				<td align="center">300</td>
			</tr>
			<tr>
				<td> Настройка сетевой карты</td>
				<td align="center">300</td>
			</tr>
			<tr>
				<td> Настройка локальной сети</td>
				<td align="center">300 (за 1 компьютер)</td>
			</tr>
			<tr>
				<td> Установка и настройка модема «Yota»</td>
				<td align="center">от 300</td>
			</tr>
			<tr>
				<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Лечение и удаление вирусов</span></span></th>
			</tr>
			<tr>
				<td>Услуга по ремонту компьютеров</td>
				<td align="center">&nbsp;Цена (руб.)</td>
			</tr>
			<tr>
				<td>Удаление вирусов вымогателей (СМС вирусов и порно баннеров)</td>
				<td align="center">&nbsp;450*</td>
			</tr>
			<tr>
				<td>Установка антивируса и обновление антивирусных баз</td>
				<td align="center">&nbsp;300</td>
			</tr>
			<tr>
				<td>Поиск и удаление вирусов (стандартным путем)</td>
				<td align="center">240**</td>
			</tr>
			<tr>
				<td colspan="2">*Разблокировка компьютера, поиск и удаление компьютерных вирусов, ликвидация последствий атаки вирусов, восстановление работоспособности системы.<br>
					**Включает поиск и удаление компьютерных вирусов, троянов и вредоносного ПО в системных папках и папках временных файлов Windows; при необходимости – восстановление системы оплачивается отдельно.<br>
					В случае невозможности дальнейшей работоспособности системы – переустановка Windows и все работы по его настройке предоставляются со <strong>15% скидкой!</strong>
				</td>
			</tr>
			<tr>
				<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Работа с ситемой</span></span></th>
			</tr>
			<tr>
				<td>Услуга по ремонту компьютеров</td>
				<td align="center">&nbsp;Цена (руб.)</td>
			</tr>
			<tr>
				<td>Форматирование диска</td>
				<td align="center">&nbsp;350</td>
			</tr>
			<tr>
				<td>Работа с BIOS</td>
				<td align="center">400</td>
			</tr>
			<tr>
				<td>Чистка реестра</td>
				<td align="center">&nbsp;300</td>
			</tr>
			<tr>
				<td>SMART диагностика жесткого диска</td>
				<td align="center">180</td>
			</tr>
			<tr>
				<td>Удаление временных файлов Cookies</td>
				<td align="center">180</td>
			</tr>
			<tr>
				<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Восстановление данных</span></span></th>
			</tr>
			<tr>
				<td>Услуга по ремонту компьютеров</td>
				<td align="center">Цена (руб.)</td>
			</tr>
			<tr>
				<td>Восстановление данных после форматирования и удаления</td>
				<td align="center">500</td>
			</tr>
			<tr>
				<td>Проверка диска на наличие ошибок</td>
				<td align="center">300</td>
			</tr>
			<tr>
				<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Ремонт персональных компьютеров</span></span></th>
			</tr>
			<tr>
				<td>Услуга по ремонту компьютеров</td>
				<td align="center">&nbsp;Цена (руб.)</td>
			</tr>
			<tr>
				<td>Сборка компьютера (из комплектующих заказчика)</td>
				<td align="center">&nbsp;600</td>
			</tr>
			<tr>
				<td>Профилактические работы (чистка от пыли, замена термопасты и диагностика)</td>
				<td align="center">&nbsp;400</td>
			</tr>
			<tr>
				<td>Установка/замена материнской платы (без диагностики)</td>
				<td align="center">&nbsp;400</td>
			</tr>
			<tr>
				<td>Установка/замена CD/DVD-ROM, FDD (без диагностики)</td>
				<td align="center">&nbsp;200</td>
			</tr>
			<tr>
				<td>Установка/замена блока питания (без диагностики)</td>
				<td align="center">300</td>
			</tr>
			<tr>
				<td>Установка/замена HDD (без диагностики)</td>
				<td align="center">300</td>
			</tr>
			<tr>
				<td>Установка/замена оперативной памяти (без диагностики)</td>
				<td align="center">&nbsp;200</td>
			</tr>
			<tr>
				<td>Установка/замена процессора (без диагностики)</td>
				<td align="center">&nbsp;300</td>
			</tr>
			<tr>
				<td>Установка/замена кулера (без замены термопасты)</td>
				<td align="center">250</td>
			</tr>
			<tr>
				<td>Замена термопасты</td>
				<td align="center">&nbsp;100</td>
			</tr>
			<tr>
				<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Профилактические работы</span></span></th>
			</tr>
			<tr>
				<td>Услуга по ремонту компьютеров</td>
				<td align="center">Цена (руб.)</td>
			</tr>
			<tr>
				<td>Сборка/разборка</td>
				<td align="center">&nbsp;700</td>
			</tr>
			<tr>
				<td>Профилактические работы (чистка от пыли, диагностика)</td>
				<td align="center">&nbsp;1000</td>
			</tr>
			<tr>
				<td>Замена термопасты</td>
				<td align="center">350 &nbsp;</td>
			</tr>
			<tr>
				<td>Замена термо-резинки</td>
				<td align="center">750</td>
			</tr>
			<tr>
				<td>Восстановление, профилактика (смазка кулера)</td>
				<td align="center">&nbsp;500</td>
			</tr>
			<tr>
				<td>Замена комплектующих и модернизация</td>
				<td align="center">&nbsp;300*</td>
			</tr>
			<tr>
				<td>Замена матрицы</td>
				<td align="center">&nbsp;600</td>
			</tr>
			<tr>
				<td colspan="2">Цены на работы могут менять как в большую, так и в меньшую сторону в зависимости от сложности работ.&nbsp;</td>
			</tr>
		</tbody></table>
		<p>&nbsp;<strong>ГАРАНТИИ НА ВСЕ ВИДЫ РАБОТ. Выезд мастера оплачивается (500 рублей) при отказе от работ.</strong></p>
	</div>
</div>