<div class="content">
	<div class="rightBlockText">
		<center><h1>Прейскурант</h1></center>
		<table border="1" cellspacing="0" cellpadding="0" width="100%">
			<tbody>
				<tr>
					<td>Услуга по ремонту компьютеров</td>
					<td align="center" width="30%"><strong>Цена (руб.)</strong></td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Выезд специалиста</span></span></th>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Выезд и диагностика мастера&nbsp;</td>
					<td itemprop="price" align="center">бесплатно</td>
				</tr>

				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Выезд мастера за пределы МКАД &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td itemprop="price" align="center">в пределах 20 км бесплатно</td>
				</tr>
				<tr>
					<th colspan="2">
						<span style="color: #29aae0;">
							<span style="color: #29aae0;">Установка Windows</span>
						</span>
					</th>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Услуга по ремонту компьютеров</td>
					<td itemprop="price" align="center">Цена (руб.)</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer">
					<td itemprop="name" >Установка Windows XP</td>
					<td itemprop="price" align="center">250*</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка WindowsVista</td>
					<td itemprop="price" align="center">250*</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка Windows 7.8.10</td>
					<td itemprop="price" align="center">300*</td>
				</tr>

				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка драйвера</td>
					<td itemprop="price" align="center">150</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка MS Office</td>
					<td itemprop="price" align="center">250</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка программ  и утилит</td>
					<td itemprop="price" align="center">100 (за 1 ед.)</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка и настройка различных программ в зависимости от сложности </td>
					<td itemprop="price" align="center">от 200</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<th colspan="2">
						<span style="color: #29aae0;">
							<span style="color: #29aae0;">Настройка Интернета, Wi-Fi роутера и локальной сети</span>
						</span>
					</th>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" > Услуга по ремонту компьютеров</td>
					<td itemprop="price" align="center">цена (руб.)</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" > Настройка роутера</td>
					<td itemprop="price" align="center">600</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" > Настройка Интернета</td>
					<td itemprop="price" align="center">300</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" > Настройка сетевой карты</td>
					<td itemprop="price" align="center">300</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" > Настройка локальной сети</td>
					<td itemprop="price" align="center">300 (за 1 компьютер)</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" > Установка и настройка модема «Yota»</td>
					<td itemprop="price" align="center">от 300</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Лечение и удаление вирусов</span></span></th>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Услуга по ремонту компьютеров</td>
					<td itemprop="price" align="center">&nbsp;Цена (руб.)</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Удаление вирусов вымогателей (СМС вирусов и порно баннеров)</td>
					<td itemprop="price" align="center">&nbsp;450*</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка антивируса и обновление антивирусных баз</td>
					<td itemprop="price" align="center">&nbsp;300</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Поиск и удаление вирусов (стандартным путем)</td>
					<td itemprop="price" align="center">240**</td>
				</tr>
				<tr>
					<td colspan="2">*Разблокировка компьютера, поиск и удаление компьютерных вирусов, ликвидация последствий атаки вирусов, восстановление работоспособности системы.<br>
						**Включает поиск и удаление компьютерных вирусов, троянов и вредоносного ПО в системных папках и папках временных файлов Windows; при необходимости – восстановление системы оплачивается отдельно.<br>
						В случае невозможности дальнейшей работоспособности системы – переустановка Windows и все работы по его настройке предоставляются со <strong>15% скидкой!</strong>
					</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Работа с ситемой</span></span></th>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Услуга по ремонту компьютеров</td>
					<td itemprop="price" align="center">&nbsp;Цена (руб.)</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Форматирование диска</td>
					<td itemprop="price" align="center">&nbsp;350</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Работа с BIOS</td>
					<td itemprop="price" align="center">400</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Чистка реестра</td>
					<td itemprop="price" align="center">&nbsp;300</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >SMART диагностика жесткого диска</td>
					<td itemprop="price" align="center">180</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Удаление временных файлов Cookies</td>
					<td itemprop="price" align="center">180</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Восстановление данных</span></span></th>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Услуга по ремонту компьютеров</td>
					<td itemprop="price" align="center">Цена (руб.)</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Восстановление данных после форматирования и удаления</td>
					<td itemprop="price" align="center">500</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Проверка диска на наличие ошибок</td>
					<td itemprop="price" align="center">300</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Ремонт персональных компьютеров</span></span></th>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Услуга по ремонту компьютеров</td>
					<td itemprop="price" align="center">&nbsp;Цена (руб.)</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Сборка компьютера (из комплектующих заказчика)</td>
					<td itemprop="price" align="center">&nbsp;600</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Профилактические работы (чистка от пыли, замена термопасты и диагностика)</td>
					<td itemprop="price" align="center">&nbsp;400</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка/замена материнской платы (без диагностики)</td>
					<td itemprop="price" align="center">&nbsp;400</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка/замена CD/DVD-ROM, FDD (без диагностики)</td>
					<td itemprop="price" align="center">&nbsp;200</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка/замена блока питания (без диагностики)</td>
					<td itemprop="price" align="center">300</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка/замена HDD (без диагностики)</td>
					<td itemprop="price" align="center">300</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка/замена оперативной памяти (без диагностики)</td>
					<td itemprop="price" align="center">&nbsp;200</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка/замена процессора (без диагностики)</td>
					<td itemprop="price" align="center">&nbsp;300</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Установка/замена кулера (без замены термопасты)</td>
					<td itemprop="price" align="center">250</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Замена термопасты</td>
					<td itemprop="price" align="center">&nbsp;100</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<th colspan="2"><span style="color: #29aae0;"><span style="color: #29aae0;">Профилактические работы</span></span></th>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Услуга по ремонту компьютеров</td>
					<td itemprop="price" align="center">Цена (руб.)</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Сборка/разборка</td>
					<td itemprop="price" align="center">&nbsp;700</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Профилактические работы (чистка от пыли, диагностика)</td>
					<td itemprop="price" align="center">&nbsp;1000</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Замена термопасты</td>
					<td itemprop="price" align="center">350 &nbsp;</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Замена термо-резинки</td>
					<td itemprop="price" align="center">750</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Восстановление, профилактика (смазка кулера)</td>
					<td itemprop="price" align="center">&nbsp;500</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Замена комплектующих и модернизация</td>
					<td itemprop="price" align="center">&nbsp;300*</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td itemprop="name" >Замена матрицы</td>
					<td itemprop="price" align="center">&nbsp;600</td>
				</tr>
				<tr itemscope itemtype="http://schema.org/Offer" >
					<td colspan="2">Цены на работы могут менять как в большую, так и в меньшую сторону в зависимости от сложности работ.&nbsp;</td>
				</tr>
			</tbody></table>
			<p>&nbsp;<strong>ГАРАНТИИ НА ВСЕ ВИДЫ РАБОТ. Выезд мастера оплачивается (500 рублей) при отказе от работ.</strong></p>
		</div>
	</div>