<div class="content">
	<div class="rightBlockText">
		<h1>{{title}} быстро и качественно</h1>
		<p>
			<a href="/images/im-nastr.jpg">
				<img class="alignright wp-image-173" src="/images/im-nastr.jpg" alt="123" width="200" height="146">
			</a>Для правильной и стабильной работы компьютера необходимо грамотно выполнить его настройку. Так как многие владельцы стационарных или портативных компьютеров не обращаются к профессиональным мастерам для решения данного вопроса, через некоторое время у них могут возникнуть проблемы с работоспособностью рабочих устройств. Избежать подобных неприятностей позволят настройка и ремонт компьютеров в г. Москва, выполняемые специалистами компании «Ремонт МСК».
		</p>
		<h2>Полный спектр услуг по настройке компьютеров</h2>
		<p>Наша компания предоставляет высококвалифицированные услуги по ремонту и настройке компьютеров по выгодным для клиентов расценкам.</p>
		<p>Настройка компьютера, выполняемая профессионалами компании «Ремонт МСК», подразумевает:</p>
		<ul>
			<li>подготовку нового компьютера к работе в соответствии с потребностями пользователя;</li>
			<li>оптимизацию реестра и работы ОС;</li>
			<li>установку программ, системного и дополнительного ПО;</li>
			<li>установку антивируса;</li>
			<li>создание второго логического диска;</li>
			<li>перенос нужных данных на новый компьютер.</li>
		</ul>
		<p>Все процедуры, связанные с настройкой компьютера в {{sity}}, выполняются нашими специалистами максимально оперативно и на высоком профессиональном уровне.</p>
	</div>
</div>