<div class="content">
	<div class="onas">
		<h1>Компьютерная помощь частного мастера на дому</h1>
		<h3>Услуга по ремонту компьютеров</h3>
		<ul>
			<li>Выезд специалиста</li>
			<li>Выезд и диагностика мастера </li>
			<li>Выезд мастера за пределы МКАД </li>   
		</ul>
		<br>
		<h3>Установка Windows</h3>
		<ul>
			<li>Услуга по ремонту компьютеров</li>
			<li>Установка Windows XP</li>
			<li>Установка WindowsVista</li>
			<li>Установка Windows 7.8.10</li>
			<li>Установка драйвера</li>
			<li>Установка MS Office</li>
			<li>Установка программ и утилит</li>
		</ul>

		<br>
		<h3>Настройка Интернета, Wi-Fi роутера и локальной сети</h3>
		<ul>
			<li>Настройка роутера</li>
			<li>Настройка Интернета</li>
			<li>Настройка сетевой карты</li>
			<li>Настройка локальной сети</li>
			<li>Установка и настройка модема «Yota»</li>
		</ul>

		<br>
		<h3>Лечение и удаление вирусов</h3>
		<ul>
			<li>Удаление вирусов вымогателей (СМС вирусов и порно баннеров)</li>
			<li>Установка антивируса и обновление антивирусных баз</li>
			<li>Поиск и удаление вирусов (стандартным путем)</li>
		</ul>

		<br>
		<h3>Работа с ситемой</h3>
		<ul>
			<li>Форматирование диска</li>
			<li>Работа с BIOS</li>
			<li>Чистка реестра</li>
			<li>SMART диагностика жесткого диска</li>
			<li>Удаление временных файлов Cookies</li>
		</ul>

		<br>
		<h3>Восстановление данных</h3>
		<ul>
			<li>Восстановление данных после форматирования и удаления</li>
			<li>Проверка диска на наличие ошибок</li>
		</ul>

		<br>
		<h3>Ремонт персональных компьютеров</h3>
		<ul>
			<li>Сборка компьютера (из комплектующих заказчика)</li>
			<li>Установка/замена материнской платы (без диагностики)</li>
			<li>Установка/замена CD/DVD-ROM, FDD (без диагностики)</li>
			<li>Установка/замена блока питания (без диагностики)</li>
			<li>Установка/замена HDD (без диагностики)</li>
			<li>Установка/замена оперативной памяти (без диагностики)</li>
			<li>Установка/замена процессора (без диагностики)</li>
			<li>Установка/замена кулера (без замены термопасты)</li>
			<li>Замена термопасты</li>
		</ul>

		<br>
		<h3>Профилактические работы</h3>
		<ul>
			<li>Сборка/разборка</li>
			<li>Профилактические работы (чистка от пыли, диагностика)</li>
			<li>Замена термопасты</li>
			<li>Замена термо-резинки</li>
			<li>Восстановление, профилактика (смазка кулера)</li>
			<li>Замена комплектующих и модернизация</li>
			<li>Замена матрицы</li>
		</ul>
		<br><br>
		<h2>Почему стоит обратиться в нашу мастерскую по ремонту компьютеров в Москве и Московской области?</h2>
		<p>Всё довольно просто! Мы не будем вас обманывать для того чтобы больше взять с вас денег! 
			<p>Перед каждым действием мы предупредим вас и огласим цену.</p> 
			<b>Наши цены самые низкие в Москве и Московской области</b>, а всё по тому что дешовый и качественный сервис это редкость в наше время и как правило повышается спрос!
		</p>
		<p>
			Преимущества:
			<ul>
				<li>грамотные и квалифицированные мастера с большим опытом, легко справляющиеся с самыми сложными задачами;</li>
				<li>оперативность;</li>
				<li>гарантия высокого качества предоставляемых услуг;</li>
				<li>индивидуальный подход.</li>
			</ul>
		</p>
	</div>
</div>